<launch>
        <param name="robot_description" command="$(find xacro)/xacro.py $(find candynamix_description)/urdf/candynamix.urdf.xacro" />

  <node pkg="candynamix_rviz" type="candynamix_rviz_node" name="candynamix_rviz_node" output="screen" />


  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find candynamix_rviz)/rviz/candynamix_rviz.rviz"/>

</launch>
