<?xml version="1.0"?>
<robot name="candynamix" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="laser_visual" default="false"/>
    <xacro:arg name="imu_visual"   default="false"/>

    <gazebo>
        <plugin filename="libgazebo_ros_diff_drive.so" name="differential_drive_controller_front">
            <rosDebugLevel>Debug</rosDebugLevel>
            <publishWheelTF>True</publishWheelTF>
            <publishTf>1</publishTf>
            <publishWheelJointState>true</publishWheelJointState>
            <alwaysOn>true</alwaysOn>
            <updateRate>20.0</updateRate>
            <leftJoint>l_wheel_joint</leftJoint>
            <rightJoint>r_wheel_joint</rightJoint>
            <wheelSeparation>0.076</wheelSeparation>
            <wheelDiameter>0.034</wheelDiameter>
            <broadcastTF>1</broadcastTF>
            <wheelTorque>30</wheelTorque>
            <wheelAcceleration>1.8</wheelAcceleration>
            <commandTopic>cmd_vel</commandTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryTopic>odom</odometryTopic>
            <robotBaseFrame>base_link</robotBaseFrame>
            <legacyMode>false</legacyMode>
        </plugin>
    </gazebo>

    <gazebo reference="base_footprint">
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="base_link">
        <turnGravityOff>false</turnGravityOff>
        <material>Gazebo/DarkYellow</material>
    </gazebo>

    <gazebo reference="l_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <fdir1 value="1 0 0"/>
        <turnGravityOff>false</turnGravityOff>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="r_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <fdir1 value="1 0 0"/>
        <turnGravityOff>false</turnGravityOff>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="caster_wheel">
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
            <alwaysOn>true</alwaysOn>
            <bodyName>imu_link</bodyName>
            <topicName>/imu</topicName>
            <serviceName>/imu_service</serviceName>
            <gaussianNoise>0.0</gaussianNoise>
            <updateRate>100.0</updateRate>
            <imu>
                <noise>
                    <type>gaussian</type>
                    <rate>
                        <mean>0.0</mean>
                        <stddev>2e-4</stddev>
                        <bias_mean>0.0000075</bias_mean>
                        <bias_stddev>0.0000008</bias_stddev>
                    </rate>
                    <accel>
                        <mean>0.0</mean>
                        <stddev>1.7e-2</stddev>
                        <bias_mean>0.1</bias_mean>
                        <bias_stddev>0.001</bias_stddev>
                    </accel>
                </noise>
            </imu>
        </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <sensor type="imu" name="imu">
            <always_on>true</always_on>
            <update_rate>50</update_rate>
            <visualize>$(arg imu_visual)</visualize>
        </sensor>
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="base_scan">
        <material>Gazebo/Grey</material>
        <sensor type="ray" name="lds_lfcd_sensor">
            <pose>0 0 0 0 0 0</pose>
            <visualize>$(arg laser_visual)</visualize>
            <update_rate>1800</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>0.0</min_angle>
                        <max_angle>6.28</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.120</min>
                    <max>3.5</max>
                    <resolution>0.015</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
                <topicName>/scan</topicName>
                <frameName>base_scan</frameName>
            </plugin>
        </sensor>
    </gazebo>

    <transmission name="l_wheel_joint_trans" >
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="l_wheel_joint" />
        <actuator name="l_wheel_joint_motor">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="r_wheel_joint_trans" >
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="r_wheel_joint" />
        <actuator name="r_wheel_joint_motor">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
</robot>
